.home {
    text-align: center;
}

.home-title {
    font-size: 44px;
    font-weight: 700;
    color: var(--color-main-black);
    margin: 44px 0 24px 0;
}

.home-description {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 32px 0;
}

.home-img {
    width: 100%;
    height: 544px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .home {
        text-align: left;
    }
    .home-title {
        max-width: 250px;
        font-size: 32px;
    }
    .home-description {
        font-size: 14px;
    }
}